body{
  background-color: #d8d8d8;
}

.App{
  flex-wrap: nowrap;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6aad7a;
  padding: 5px;
  margin: 10px;
}
.header-nav ul{
  display: flex;
  list-style: none;
}
.header-nav ul li{
  padding-right: 40px;

}
.Nav{
  background-color: #f7fbda;
  width: 300px;
  height: 92vh;
  padding: 15px;
  margin: 10px;
}
.Nav select ,.Nav input,.Nav button{
  display: block;
  width: 200px;
  height: 30px;
  border-radius: 5px;
}
.main{
  width: 100%;
  background-color: #ecf0e3;
  margin: 20px;
  padding: 30px;
  overflow-x: auto;
  overflow: auto;
  height: 80%;
}
.headMain{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d8d8d8;
  padding: 10px;
}
.mainMain{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 20px;
  padding-left: 20px;
}
.mainlayout{
  display: flex;
}
.mainelem{

  background-color: blueviolet;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
}
.elemImage{
  max-width: 300px;
  border-radius: 10px;
}
a{
text-decoration: none;

}
.addFed{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.nomsiz{
  text-align: start;
  width: 400px;
  height: 550px;
  background-color: #b6ddbf;
  position: relative;
}
.nomsiz input,.nomsiz select,.nomsiz button {
  width: 350px;
  height: 30px;
  display: block;
  margin: 10px auto;
}
.nomsiz label{
  tab-size: 20px;
  color: #186a2b;
  position: relative;
  left: 30px;

}
.nomsizbutton{
  margin-top: 20px;
  position: relative;
  top: 10px;
}
.activbtnmain{
  background: #9a9d9f;
}
.mainHeadInput{
  height: 40px;
  width: 450px;
}
.btnhead{
  width: 400px;
}